library("BAS") 

Model <- bas.lm(DependentVariable ~ IndipendentVariable1 +
                  IndipendentVariable2 + 
                  IndipendentVariable3 + 
                  IndipendentVariable4+ 
                  IndipendentVariablen+
                  ... 
                  IndipendentVariable15,
                  data = Data,
                  method = "MCMC",
                  prior = "ZS-null",
                  modelprior = uniform(),
                  include.always = ~1+Gender,
                  MCMC.iterations = 10000000)
                  
 Summary(Model)
 Model.coef <- coef(Model)
 plot(Model, ask = F)
plot(confint(Model.coef))
